<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <title>Edit Item</title>
</head>
<body>
    <h1>Edit Item</h1>
    <main>
        <div class="lines"></div>
        <ul class="list">
            <li>
                <form action="/todo/<%= item._id %>?_method=PUT" method="post">
                    <input type="text" name="name" placeholder="<%= item.name %> ">
                    <input type="text" name="item" placeholder="<%= item.item %> ">
                    <button type="submit">
                        <i class="bi bi-pencil"></i>
                    </button>
            </form>
        </li>
        </ul>
        <span><a href="/todo">To-do List</a></span>
        <span><a href="/todo/<%= item._id %>">Show Item</a></span>
    </main>
</body>
</html>