<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>To-do List</title>
</head>
<body>
    <h1>To-Do List</h1>
    <main>
        <div class="lines"></div>
        <ul class="list">
            <% for( let i = 0; i < item.length; i++ ) { %>
                <div>
                    <form action="/todo/<%= item[i]._id %>/edit">
                        <button type="submit">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </form>
                    <li>
                        <a href="/todo/<%= item[i]._id %> ">
                            <b><%= item[i].name %>:</b>
                            <em><%= item[i].item %></em>
                        </a>
                    </li>
                    <form action="/todo/<%= item[i]._id %>?_method=DELETE" method="post">
                        <button type="submit">
                            <i class="bi bi-check-circle"></i>
                        </button>
                    </form>
                </div>
            <% } %>
        </ul>
            <span><a href="/todo/new">
                <i id="index-icon" class="bi bi-plus-circle" style="font-size:40px;"></i>
            </a></span>
    </main>
</body>
</html>