<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>To-do Item</title>
</head>
<body>
    <h1>To-do Item</h1>
    <main>
        <div class="lines"></div>
        <ul class="list">
            <li>
                <div>
                    <form action="/todo/<%= item._id %>/edit">
                        <button type="submit">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </form>
                    <b><%= item.name %>:</b>
                    <span><%= item.item %></span>
                    <form action="/todo/<%= item._id %>?_method=DELETE" method="post">
                        <button type="submit">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </form>
                </div>
            </li>
        </ul>
        <a href="/todo">
            <i id="back" class="bi-box-arrow-left" style="font-size:40px;"></i>
        </a>
    </main>
</body>
</html>